
body {
   margin: 0;
}
/*Navigation*/

h1 {
    font-family:'Limelight', sans-serif;
    color:#373A42;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

.cartbutton {
    width:105px;
    background-color:white;
    border-radius:7px;
    border-color: #4B998B;
    color:#4B998B;
    font-weight:bold;
    border: 2px solid #4B998B;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-width:2px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    
}

.navigation {
    background-color: #ffffff;
    padding-top: 14px;
    padding-bottom: 12px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;


}

.currentLocation {
    position:absolute; top: -2px; right: 30px;;
    font-size:13px;
}

.currentLocation b:hover {
    font-weight:800;
    cursor:pointer;
}

.currentLocation i{    
    margin-right:3px;
}

.inline-block {
    display: inline-block;
    vertical-align: -webkit-baseline-middle;

}

.logo {
    padding-left:25px;
    display:inline-block;
    cursor:pointer;
}

.cartbutton {
    margin-right:30px;
    margin-bottom:10px;
    display:inline-block;
}

.inline-block ul {
    display: inline-flex;
    justify-content: space-between;
    color: #142233;
    padding-right: 12px;


}

nav li {
    display: inline-block;
    padding: 0px 30px;
    font-family:'Lato', sans-serif;
    font-size:14.5px;
    cursor:pointer;
    font-weight:500;

}

nav li:hover{
    font-weight:700;
    color:#4B998B;
    scale:1.05;
    cursor:pointer;
}

.cartbutton:hover{
    cursor:pointer;
    scale:1.07;
    
}


/*Hero*/
.heroBanner {
    cursor: pointer;
}
/*About*/
.containerGrid {
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 1.5fr 3.5fr;
    grid-gap: 10px;
    grid-template-areas:
        "leftside rightside";
    align-content: start;
}

.leftSide {
    padding-left: 20px;


}

.rightSide {
    padding-right: 24px;
    text-align:top;

}

.About {
    margin-left:20px;
    margin-right:60px;
    margin-top:22px;
    margin-bottom:22px;
}

.About h1 {
    margin-top:0;
    margin-bottom:3px;
    font-size:30px;
}


.menu {
    width:230px;
    height:35px;
    background-color:#4B998B;
    border-radius:10px;
    border-color: #4B998B;
    color:white;
    font-weight:bold;
    border: 2px solid #4B998B;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-width:2px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.menu:hover{
    scale:1.05;
}

/*Local Favorites*/


.localFavorites h1 {
   margin-top:25px;
    padding-left:40px;
    padding-top:15px;
    padding-bottom:15px;
    background-color: #ddf1f2;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    /* padding-top: 10px; */
    padding-left: 15px;


}

.flexCard {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-left: 25px;
    padding-bottom: 40px;
    width:22%;

}

.flexCard:hover {
    cursor:pointer;
    scale:1.007;
    
}

.menuImage img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.menuImage {
    margin:0;
    height:160px;

}
.menuContent {
    background-color:#f4f4f4;
    padding-bottom:30px;
    margin-top:0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.1);
    height:190px;



}

.menuContent h3 {
    padding-left:15px;
    font-family: 'Lato', sans-serif;
    margin-bottom:2%;
}

.price {
    color:#4B998B;
    padding-left:15px;
    margin-top:2px;
    font-weight:bold;
}

.menuDescription {
padding-left:15px;
margin-bottom:10px;

}
.addtoCart {
    width:118px;
    height:35px;
    background-color:#4B998B;
    border-radius:10px;
    border-color: #4B998B;
    color:white;
    font-weight:bold;
    border: 2px solid #4B998B;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-width:2px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    margin-left:12px;
    margin-right:5px;
}
.addtoCart:hover{
    cursor:pointer;
    scale:1.04;
    
}

.customize {
    width:118px;
    height:35px;
    background-color:white;
    border-radius:7px;
    border-color: #4B998B;
    color:#4B998B;
    font-weight:bold;
    border: 2px solid #4B998B;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-width:2px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}
.customize:hover{
    cursor:pointer;
    scale:1.04;
    
}

.viewmore {
    width:250px;
    height:35px;
    background-color:#4B998B;
    border-radius:10px;
    border-color: #4B998B;
    color:white;
    font-weight:bold;
    border: 2px solid #4B998B;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-width:2px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    margin-bottom:30px;
  
}

.viewmore:hover{
     cursor:pointer;
    scale:1.04;
}

.more {
    display:flex;
    justify-content: center;
}